.grid {
    line-height: 16%;
    -webkit-column-count: 3;
    -webkit-column-gap: 16px;
    -moz-column-count: 3;
    -moz-column-gap: 16px;
    column-count: 3;
    column-gap: 16px;
}


.grid img {
    width: 100% !important;
    height: auto !important;
    padding-top: 16px;
}

.photo-gallery {
    padding: 32px 128px;
}